body {
	background-color:rgb(230, 224, 211);
	font-size:20px;
	font-family:"Work Sans", sans-serif;
}

body div {
	font-family:"Work Sans", sans-serif;
	font-size:14px;
}

.container {
	margin-top:3rem;
	margin-bottom:2rem;
}

.container h1 {
	font-family: 'Press Start 2P', cursive;
	font-weight:bold;
	font-size:2.5rem;
	line-height:3rem;
	color:rgb(255, 102, 0);
}
.container h2 {
	font-size:1rem;
	font-weight:bold;
	margin:5px 0px;
		color:rgb(255, 102, 0);
}

.container p {
	color:rgb(74,74,74);
	margin:10px 0px;
}

.card {
	height:9rem;
	background-color:rgb(25, 229, 229);
	border-radius:8px;
	border:4px solid white;
	font-family:"Work Sans", sans-serif;
	font-weight:900;
	font-size:4rem;
	color:rgb(255,255,255);
	text-align:center;
	display:flex;
	justify-content:center;
	align-items:center;
	cursor:pointer;
}


.btn {
    font-family:"Work Sans", sans-serif;
	font-weight:600;
	font-size:1rem;
	display:flex;
	justify-content:center;
	align-items:center;
	margin:0 auto;
	margin-bottom:10px;
}

#counter span {
	padding-left:2px;
}

input.btn {
	margin-right:10px;

}

#won {
	text-align:center;
	display:flex;
	justify-content:center;
	padding-top:2rem;
	font-family: 'Press Start 2P', cursive;
	color:white;
	font-size:4rem;
	transition: 1s ease-in-out;
}

@media only screen and (max-width: 600px) {
    input.btn  {
        width: 200px;
    }
    #counter {
    	width:200px;
    }
    #won {
    	font-size:2rem;

    }
}